@font-face {
  font-family: 'Robotaur 3D';
  src: url('./fonts/robotaur3d.ttf') format('truetype'),
       url('./fonts/robotaur3dital.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GodzillaOfuro";
  src: url('./fonts/godzillasofuro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
} */

.clip-path-custom {
  clip-path: path('M0,0 Q50%,100% 100%,0 L100%,100% L0,100% Z');
}


